cysignals
Cython
msgpack==0.5.6
numexpr
packaging
psutil
pyaudio
pyopengl
pyzmq
scipy
git+https://github.com/zeromq/pyre

pupil-apriltags
pupil-detectors

git+https://github.com/pupil-labs/PyAV
git+https://github.com/pupil-labs/pyuvc
git+https://github.com/pupil-labs/pyndsi
git+https://github.com/pupil-labs/pyglui

matplotlib
fpdf

scikit-build